
<fluid-media-widget media-id={{id}} responsive="true" embed-type="default" data-fluid-widget="true"><div></div></fluid-media-widget>
<script
  src='https://code.jquery.com/jquery-3.7.1.min.js'
  integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo='
  crossorigin='anonymous'
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
<script src="{{ 'medium.js' | asset_url }}"></script>
<script src="{{ 'pdf.js' | asset_url }}"></script>
