.customer_testimonials__heading.h1 {
  font-size: 3.2rem;
}

.customer_testimonials__heading.h2 {
  font-size: 2.25rem;
}

.customer_testimonials__heading.h3 {
  font-size: 1.75rem;
}

.customer_testimonials__heading.h4 {
  font-size: 1.5rem;
}

.customer_testimonials__heading.h5 {
  font-size: 1.25rem;
}

.customer_testimonials__heading.h6 {
  font-size: 1rem;
}